body {
  font-family: sans-serif;
}

.title {
  width: 100%;
  border-bottom: 1px solid black;
  font-color: #008;
  font-style: italic;
  font-size: 1.5em;
}

.TODO-buttonish-thing {
  border: 1px solid blue;
  display: inline-block;
}
