#nav { position: relative; z-index: 5; }
#nav li:hover ul { display: block; }
#nav li ul li a:hover { color: #fff; }
.menu ul li { padding: 0; margin-bottom: -15px; }
.commentlist .url { float: left; font-style: normal; margin-top: -10px; }